.sidebarToggle {
  background-color: var(--dark-blue-1) !important;
  color: var(--white) !important;
  font-size: var(--mediumText);
  border: none;
  outline: none;
}

.sidebarToggle:hover {
  background-color: var(--dark-blue-1) !important;
}

@media only screen and (max-width: 600px) {
  .sidebarToggle {
    padding: 0.5rem !important;
  }
}
