label.form-label {
  font-size: var(--mediumText);
  margin-bottom: 0.25rem;
  color: var(--white);
}

.subFormWrapper,
.formWrapper {
  padding: 2rem !important;
  background-color: var(--dark-blue-1);
  border-radius: 0.25rem;
}

.customInput {
  padding: 0.75rem 1.25rem;
  outline: none;
  border: none;
  border-radius: 0.25rem;
  font-size: var(--mediumText);
  color: var(--dark-blue-1);
}

.form-check-label {
  color: var(--white);
}

.addNewBtnWrapper {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.dataItemWrapper {
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: var(--bright-yellow);
}

.dataItemWrapper p.bodyText {
  color: var(--dark-blue-1);
}

.touchable-card {
  height: 100%;
  width: 100%;
  border-radius: 0.25rem;
  font-weight: bold;
  font-size: var(--subHeading);
  text-decoration: none;
  background-color: var(--pink);
  color: var(--white) !important;
}

.errorMessageWrapper {
  padding: 1rem 2rem;
  background-color: #ffdbd1;
  border-radius: 0.25rem;
}

.errorMessage {
  color: #a31818;
  font-weight: bold;
  font-size: var(--smallText);
}

.sectionContainer {
  padding: 0.5rem;
  background-color: #ecedf5;
  border-radius: 1rem;
}

.breakdownToggle {
  color: var(--dark-blue-1) !important;
}

.tooltipText {
  font-size: 0.75rem;
  color: var(--bright-yellow);
}

.tooltipTextPink {
  font-size: 0.75rem;
  color: var(--pink);
}

.textDarkBlue {
  color: var(--dark-blue-1) !important;
}

@media only screen and (max-width: 600px) {
  button.btn-submit,
  button.subform-btn-submit {
    width: 100% !important;
    margin-top: 1rem;
    font-size: var(--mediumText);
  }

  .customClearBtn {
    width: 100% !important;
  }

  .subFormParent {
    margin-top: 0.5rem;
  }

  .addNewBtn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .MuiDataGrid-cell,
  .MuiDataGrid-columnHeader {
    font-size: var(--smallText) !important;
  }

  .touchable-card {
    width: 90% !important;
    margin-bottom: 8px;
  }
}
