label.form-label {
  font-size: var(--mediumText);
  margin-bottom: 0.25rem;
  color: var(--white);
}

.subFormWrapper,
.formWrapper {
  padding: 2rem !important;
  background-color: var(--dark-blue-1);
  border-radius: 0.25rem;
}

.customInput {
  padding: 0.75rem 1.25rem;
  outline: none;
  border: none;
  border-radius: 0.25rem;
  font-size: var(--mediumText);
  color: var(--dark-blue-1);
}

.form-check-label {
  color: var(--white) !important;
}

.addNewBtnWrapper {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.dataItemWrapper {
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: var(--bright-yellow);
}

.dataItemWrapper p.bodyText {
  color: var(--dark-blue-1);
}

.touchable-card {
  height: 100%;
  width: 100%;
  border-radius: 0.25rem;
  font-weight: bold;
  font-size: var(--subHeading);
  text-decoration: none;
  background-color: var(--pink);
  color: var(--white) !important;
}

.errorMessageWrapper {
  padding: 1rem 2rem;
  background-color: #ffdbd1;
  border-radius: 0.25rem;
}

.errorMessage {
  color: #a31818;
  font-weight: bold;
  font-size: var(--smallText);
}

.breakdownToggle {
  color: var(--dark-blue-1) !important;
}

.tooltipText {
  font-size: 0.75rem;
  color: var(--bright-yellow);
}

.tooltipTextPink {
  font-size: 0.75rem;
  color: var(--pink);
}

.textDarkBlue {
  color: var(--dark-blue-1) !important;
}

.textSuccessGreen {
  color: var(--success-green);
}

.textLightBlue {
  color: var(--light-blue);
}

.custom-hr-yellow {
  border-top: 1px solid var(--bright-yellow);
}

.custom-hr-blue {
  border-bottom: 1px solid var(--dark-blue-1);
}

.summary-container {
  margin-bottom: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.25rem;
  background-color: var(--bright-yellow);
  color: var(--dark-blue-1);
}

.table-container {
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: var(--white);
  color: var(--dark-blue-1);
}

.text-pink {
  color: var(--pink);
}

.text-yellow {
  color: var(--bright-yellow);
}

.text-light-blue {
  color: var(--light-blue);
}

.text-dark-blue {
  color: var(--dark-blue-1) !important;
}

.bg-dark-blue-1 {
  background: var(--dark-blue-1);
}

.bg-dark-blue-2 {
  background: var(--dark-blue-2);
}

.bg-yellow {
  background: var(--bright-yellow);
}

.border-pink {
  border: 2px solid var(--pink) !important;
}

.carton-number-section {
  width: 80vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 600px) {
  button.btn-submit,
  button.subform-btn-submit {
    width: 100% !important;
    margin-top: 1rem;
    font-size: var(--mediumText);
  }

  .customClearBtn {
    width: 100% !important;
  }

  .subFormParent {
    margin-top: 0.5rem;
  }

  .addNewBtn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .MuiDataGrid-cell,
  .MuiDataGrid-columnHeader {
    font-size: var(--smallText) !important;
  }

  .touchable-card {
    width: 90% !important;
    margin-bottom: 8px;
  }

  .report-container {
    font-size: 0.8rem;
  }

  .formWrapper {
    padding: 1rem !important;
  }

  .mt-xs-1 {
    margin-top: 0.5rem;
  }
}
