.header {
  height: 4rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  z-index: 997;
  box-shadow: 0 2px 1px rgba(1, 41, 112, 0.1);
  background-color: #fff;
  transition: all 0.3s;
}

@media only screen and (max-width: 600px) {
  .header {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
