.data-pill {
  padding: 0.5rem 1rem !important;
  color: var(--white) !important;
  font-weight: normal;
  border-radius: 0.25rem !important;
}

.data-pill-dark-blue {
  background-color: var(--dark-blue-2) !important;
}

.data-pill-pink {
  background-color: var(--pink) !important;
}
