.dashboardContainer {
  transition: all 0.3s;
}

.sectionContainer {
  min-height: 14.5rem;
  max-height: 14.5rem;
  max-width: 31vw;
  padding: 1rem;
  background-color: var(--dark-blue-1);
  border-radius: 0.25rem;
}

.sectionTitle {
  padding: 0.5rem 1rem;
  font-size: var(--smallText);
  font-weight: bold;
  border-radius: 0.25rem;
}

.sectionTitleBlue {
  background-color: var(--dark-blue-1);
  color: var(--white);
}

.sectionTitlePink {
  background-color: var(--pink);
  color: var(--white);
}

.sectionTitleYellow {
  background-color: var(--bright-yellow);
  color: var(--dark-blue-1);
}

.sectionBodyTextMaroon {
  color: #8f4c38;
}

.sectionTitleRed {
  background-color: #a33232;
  color: #eeefe3;
}

.sectionTitleGreen {
  background-color: #386663;
  color: #eeefe3;
}

.sectionHeading {
  margin-top: 1rem;
  font-size: var(--heading);
  font-weight: 300;
}

.sectionHeadingTextBlue {
  color: var(--buttonDefaultTextColor);
}

.sectionHeadingTextGreen {
  color: #00210f;
}

.sectionMainValue {
  font-size: 2rem;
  font-weight: 600;
  color: var(--pink);
}

.sectionSubHeadingContainer {
  font-size: var(--smallText);
}

.sectionSubHeading {
  color: var(--white);
}


.sectionSubValue {
  font-weight: 500;
  color: var(--success-green);
}

.status {
  font-size: var(--smallText);
  font-weight: 400;
}

.running {
  color: var(--success-green);
}

.stopped {
  color: #D2042D;
}

.detailContainer {
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #f7f2fa;
}

.labDetailContainer {
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #fff8f6;
}

.subSectionHeading {
  font-size: var(--subHeading);
  font-weight: 300;
  color: var(--light-blue);
}

.subSectionValue {
  color: var(--success-green);
}

.cutterContainer {
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #eeefe3;
}

.breakdownItemWrapper {
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-bottom: 0.125rem;
  background: var(--dark-blue-2);
  border: none;
}

@media only screen and (max-width: 600px) {
  .sectionContainer {
    min-width: 100%;
  }

  .labDetailsContainer {
    margin-top: 0.5rem;
  }

  .mt-xs-2 {
    margin-top: 0.5rem;
  }
}
