.dashboardContainer {
  transition: all 0.3s;
}

.sectionContainer {
  min-height: 14.5rem;
  max-height: 14.5rem;
  max-width: 31vw;
  padding: 1rem;
  background-color: var(--dark-blue-1);
  border-radius: 0.25rem;
}

.sectionTitle {
  padding: 0.5rem 1rem;
  font-size: var(--smallText);
  font-weight: bold;
  border-radius: 0.25rem;
}

.sectionTitleBlue {
  background-color: var(--dark-blue-1);
  color: var(--white);
}

.sectionTitlePink {
  background-color: var(--pink);
  color: var(--white);
}

.sectionTitleYellow {
  background-color: var(--bright-yellow);
  color: var(--dark-blue-1);
}

.sectionHeading {
  margin-top: 1rem;
  font-size: var(--heading);
  font-weight: 300;
}

.sectionMainValue {
  font-size: 2rem;
  font-weight: 600;
  color: var(--pink);
}

.sectionSubHeadingContainer {
  font-size: var(--smallText);
}

.sectionSubHeading {
  color: var(--white);
}

.sectionSubValue {
  font-weight: 500;
  color: var(--success-green);
}

.status {
  font-size: var(--smallText);
  font-weight: 400;
}

.running {
  color: var(--success-green);
}

.stopped {
  color: #d2042d;
}

.subSectionHeading {
  font-size: var(--subHeading);
  font-weight: 300;
  color: var(--light-blue);
}

.subSectionValue {
  color: var(--success-green);
}

.breakdownItemWrapper {
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-bottom: 0.125rem;
  background: var(--dark-blue-1);
  border: 1px solid var(--bright-yellow);
}

@media only screen and (max-width: 600px) {
  .sectionContainer {
    min-width: 100%;
  }

  .mt-xs-2 {
    margin-top: 0.5rem;
  }
}
