:root {
  scroll-behavior: smooth;

  --dark-blue-2: #0d1b2a;
  --dark-blue-1: #101530;
  --light-blue: #00a9ff;
  --bright-blue: #3d25ff;
  --pink: #ff007f;
  --white: #fff;
  --bright-yellow: #ffd800;
  --success-green: #02fd9e;

  /* body */
  --bgColor: #fff;
  --primaryTextDark: #444746;
  --primaryTextGray: #5f6368;

  /* buttons */
  --buttonPrimaryBgColor: #001d35;
  --buttonPrimaryTextColor: #c2e7ff;
  --buttonSecondaryTextColor: #eff1f6;

  /* inputs */
  /*--inputBgColor: #dfe2ee;*/
  --inputBgColor: #e0e2ec;

  /* links */
  --linksTextColor: #0065b3;

  /* search bar */
  --searchBarBgColor: #eaf1fb;
  --searchBarTextColor: #444746;

  /* text sizes */
  --heading: 1.375rem;
  --subHeading: 1.125rem;
  --mediumText: 0.875rem;
  --smallText: 0.75rem;

  /* paddings */
  --buttonPaddingHorizontal: 2rem;
  --buttonPaddingVertical: 1rem;

  * {
    box-sizing: border-box;
  }

  body {
    color: var(--primaryTextDark);
    background: var(--bgColor);
  }

  dl,
  ol,
  ul {
    margin: 0;
    padding: 0;
  }

  p {
    margin-bottom: 0;
  }

  a {
    color: var(--linksTextColor);
    text-decoration: none;
    cursor: pointer;
  }

  a:hover {
    text-decoration: none;
  }

  .bodyText {
    font-size: var(--mediumText);
    color: var(--white);
  }

  .smallText {
    font-size: var(--smallText);
  }

  .subText {
    font-size: var(--mediumText);
  }

  .customBtn {
    padding: var(--buttonPaddingVertical) var(--buttonPaddingHorizontal);
    font-size: var(--mediumText);
    border: none;
    outline: none;
    border-radius: 0.25rem;
    background: var(--pink);
    color: var(--white);
  }

  .customBackBtn {
    padding: 1rem 2rem 1rem 0;
    font-size: var(--mediumText);
    border: none;
    outline: none;
    color: var(--dark-blue-2);
  }

  .customBtnUpdate {
    background: #566e00;
    color: var(--buttonSecondaryTextColor);
  }

  .customBtnPrint {
    background: var(--dark-blue-1);
  }

  .customBtnPrint:hover {
    background: #2a325c;
  }

  .customBtnUpdate:hover {
    background-color: #7b8f00;
  }

  .customClearBtn {
    background: var(--dark-blue-1);
    color: var(--white);
    font-size: var(--mediumText);
  }

  .customSearchInput {
    padding: 0.75rem 1.25rem;
    outline: none;
    border: none;
    border-radius: 2rem;
    background-color: var(--inputBgColor);
    font-size: var(--mediumText);
    color: var(--primaryTextDark);
  }

  .customSearchInput:focus {
    outline: none;
    border: none;
  }

  .disabled {
    background-color: var(--dark-blue-1) !important;
    color: var(--white);
  }
}

@media only screen and (max-width: 600px) {
  .header-text {
    font-size: 16px !important;
  }

  .d-xs-none {
    display: none;
  }

  .table {
    font-size: 14px;
  }

  .MuiDataGrid-main {
    font-size: 14px;
  }

  p.MuiTablePagination-displayedRows {
    font-size: 12px;
  }
}
