.back-to-top {
  position: fixed !important;
  right: 15px;
  bottom: 15px;
  visibility: hidden;
  opacity: 0;
  z-index: 99999;
  transition: all 0.4s;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
